@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inconsolata:wght@300;400;500&family=Indie+Flower&family=Montserrat:wght@500&family=Orbitron:wght@400;500&family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.bg-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 98.8vw;
    height: 100vh;
}

.bg {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    overflow: hidden;
}

#button {
    position: absolute;
    top: 300px;
    right: 60px;
    height: 40px;
    width: 70px;
    cursor: pointer;
    background-color: rgb(218, 160, 52);
    border-radius: 8px;
    text-align: center;
    box-shadow: black 0px 3px;
}

#button:hover {
    background-color: #15ad9e;
}

#button:active {
    transform: translateY(4px);
}

.one-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    background-color: rgb(218, 160, 52);
    justify-self: center;
    text-align: center;
    margin-top: -250px;
    margin-left: 580px;
    height: 120px;
    width: 200px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.two-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    background-color: #3edfd5;
    text-align: center;
    margin-top: -150px;
    margin-left: -50px;
    height: 120px;
    width: 200px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.one {
    position: absolute;
    top: 300px;
    left: 120px;
    height: 300px;
    width: auto;
}

.one img, .two img, .three img, .four img, .five img , .six img , .seven img  {
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.two {
    position: absolute;
    top: 600px;
    left: 700px;
    height: 100px;
    width: auto;
}

.three {
    position: absolute;
    top: 300px;
    left: 500px;
    height: 350px;
    width: auto;
    z-index: 1;
}

.four {
    position: absolute;
    top: 120px;
    right: 350px;
    height: 200px;
    width: auto;
}

.five {
    position: absolute;
    top: 370px;
    left: 560px;
    height: 150px;
    width: auto;
    z-index: 2;
}

.six {
    position: absolute;
    top: 370px;
    left: 830px;
    height: 210px;
    width: auto;
    z-index: 2;
}

.seven {
    position: absolute;
    top: 350px;
    left: 630px;
    height: 250px;
    z-index: 3;
}

.one-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    background-color: rgb(218, 160, 52);
    justify-self: center;
    text-align: center;
    margin-top: -250px;
    margin-left: 580px;
    height: 120px;
    width: 200px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.two-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    background-color: #3edfd5;
    text-align: center;
    margin-top: -150px;
    margin-left: -50px;
    height: 120px;
    width: 200px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}